# Ignore everything by default
*
src/__pycache__/

# Keep git metadata and this ignore file
!.gitignore

# Keep selected files/folders
!README.md
!DPO_train.py
# !src/
!src/dpo*
!notebooks/
!notebooks/**